@model CreateORupdateCategoryDTO

@{
	<h1>Update Category</h1>
	<form method="post" enctype="multipart/form-data">
		<div asp-validation-summary="All">
		</div>
		<div class="form-group" hidden>
			<label asp-for="Id"></label>
			<input class="form-control" asp-for="Id">
		</div>
		<div class="mb-3">
			<label asp-for="Name">category Name</label>
			<input type="text" asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ImageData">Upload Image</label>
			<input type="file" asp-for="ImageData" multiple accept="image/*" class="form-control" />
			<span asp-validation-for="ImageData" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>